<div class=" table-grid">

  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th scope="col">Total Points Possible</th>
        <th scope="col">Total Points Received</th>
        <th scope="col">Total Percentage</th>
        <th scope="col">Final Grade</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{scores.students}}</td>
        <td>{{scores.pointsPossible}}</td>
        <td>{{scores.pointsRecieved}}</td>
        <td>{{scores.percentage}}</td>
        <td>{{scores.grade}}</td>
      </tr>
    </tbody>
  </table>
</div>
